@import 'tailwindcss';

@source "../apps/admin";
@source "../404.html";
@source "../pages";

@theme {
  --color-brand: #40b5ad;
}

:root {
  --brand: #40b5ad;
}

[v-cloak] {
  display: none !important;
}
